<h2>Here's all the badges, and stuff:</h2>

<ul class="badges">
  <% @badges.each do |b| %>
      <li>
          <%= image_tag(b.image) %>
          <div class="name">
            <span><%= b.name %></span>
            <div>
              <%= link_to "Edit", edit_badge_path(b) %> | 
              <%= link_to "Kill", badge_path(b), :confirm => "Be sure, bro", :method => :delete %>
            </div>
          </div>
      </li>
  <% end %>
</ul>

<% if @total_pages > 1 %>
  <p>Go to Page:</p>
  <ul class="pages">
    <% 1.upto(@total_pages).each do |p| %>
      <li>
          <a href="/?page=<%= p %>"><%= p %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Wanna create a badge?", new_badge_path %>