<h2>Here's all the badges, and stuff:</h2>

<ul class="badges">
  <% @badges.each do |b| %>
      <li>
          <%= image_tag b.image.url %>
          <div class="name">
            <span><%= b.name %></span>
            <% if current_user %>
              <div>
                <% if can? :manage, b %>
                  <%= link_to "Edit", edit_badge_path(b) %> | 
                  <%= link_to "Kill", badge_path(b), :confirm => "Be sure, bro", :method => :delete %> |
                <% end %>
                <%= link_to "Email", "/" %>
              </div>
            <% end %>
            </div>
      </li>
  <% end %>
</ul>

<% if @total_pages > 1 %>
  <p>Go to Page:</p>
  <ul class="pages">
    <% 1.upto(@total_pages).each do |p| %>
      <li>
          <% if @page != p %>
            <a href="/?page=<%= p %>"><%= p %></a>
          <% else %>
            <%= p %>
          <% end %>
      </li>
    <% end %>
  </ul>
  <div class="clear"></div>
<% end %>

<% if current_user && can?(:manage, @badge) %>
  <%= link_to "Wanna create a badge?", new_badge_path %>
<% end %>