<!DOCTYPE html>
<html>
<head>
  <title>Badger</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1><a href="/">Badger!</a></h1>

<% if flash[:error] %>
  <div class="errors">
    <p><%= flash[:error] %></p>
  </div>
<% elsif flash[:success] %>
  <div class="success">
      <p><%= flash[:success] %></p>
  </div>
<% end %>

<% if current_user %>
  <p class="loggedIn">
    Logged in as <span class="email"><%= current_user.email %></span>
  </p>
  <p><%= link_to "Logout", user_session_path, :method => :delete %></p>
<% else %>
  <p><%= link_to "Login", new_user_session_path %> or <%= link_to "Create account", new_user_path %></p>
<% end %>

<%= yield %>

</body>
</html>
